*.o
*.bundle
Makefile
riakclient.pb.*
.DS_Store
build
riak_pb_objc.1
riak_pb_objc_Prefix.pch
*.pbxuser
*.mode1v3
pabst.xcodeproj/xcuserdata
pabst.xcodeproj/project.xcworkspace/xcuserdata
*.xcuserdatad
